pre {
	font-size: 14px;
}

h1, h2, h3, h4 {
	margin-top: 10px !important;;
	margin-bottom: 20px !important;;
}

h1,h2,h3,h4,p {
    font-family: "Segoe UI Light_","Open Sans Light",Verdana,Arial,Helvetica,sans-serif !important;;
    color: #ddd !important;;
}

code {
	color: #000 !important;;
	line-height: 100% !important;;
}

.metro .calendar .calendar-header td a {
	background: #333 !important;;
}

.metro .calendar .calendar-header td a:hover {
	background-color: #D9D9D9 !important;;;
	color: #333 !important;;
}

body {
    font-family: "Segoe UI Light_","Open Sans Light",Verdana,Arial,Helvetica,sans-serif !important;;
}
