<html>

<head>
    <link href="/static/css/metro-bootstrap.css" rel="stylesheet">
    <link href="/static/css/reductor.css" rel="stylesheet">
    <link href="/static/css/iconFont.css" rel="stylesheet">
    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/jquery/jquery.widget.min.js"></script>
    <script src="/static/min/metro.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Троллейбусы</title>
</head>

<body class="metro">
    <content>
        <div class="grid">
            <div class="row">
                {% for station, data in content.items() %}
                <div class='span5'>
                    {{ data.header | safe }}
                    {{ data.buslist | safe }}
                </div>
                {% endfor %}
            </div>
        </div>
    </content>
</body>

</html>
